.form-container{
    max-width: fit-content;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 16px;
    min-width: 400px;
    min-height: 468px;
    overflow: auto;
    min-width: 100px;
    min-height: 100px;
    /* align-items: center; */
}

.label{
    margin: 8px;
    padding : 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.input-container{
    margin : 8px;
    padding: 8px;
    border-radius: 5px;
    font-size: 18px;
}

.input-radio{
    margin:10px;
    padding: 10px;
    font-size: 20px;
}

.submit-button{
    padding-left: 8px;
    margin-top: 28px;
    margin-left: 30px;
    background-color: rgb(198, 247, 202);
    border-radius: 8px;
    width: 208px;
    height: 40px;
    font-size: 18px;
}