* {
  margin: 0;
}

.playground-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.left-partition {
  background-color: bisque;
  flex: 30%;
}

.right-partition {
  background-color: pink;
  flex: 70%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
